<p id="notice"><%= notice %></p>

<p>
  <strong>City name:</strong>
  <%= @city.city_name %>
</p>

<p>
  <strong>Institute:</strong>
  <%= @city.institute %>
</p>

<p>
  <strong>Job:</strong>
  <%= @city.job %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
